.login {
  padding-top: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #eaeaea;
}

.login__form input {
  padding: 10px;
  margin-bottom: 20px;
}

.login__form button {
  padding: 10px;
}
