.alphabet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.alphabet__list {
  padding: 3rem 0;
  list-style-type: none;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.alphabet__item {
  padding: 1rem;
}

.letter {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.letters-block {
  align-self: stretch;
  margin-bottom: 30px;
}

.reading .letters-block {
  margin-top: 30px;
}

.letters-block:last-of-type {
  margin-bottom: 0;
}

.letters-block__title {
  background-color: #0d6ce93f;
  padding: 1rem 2rem;
  margin-bottom: 30px;
  border-left: 5px solid blue;
  font-size: 1.4rem;
}

.letters-block__description {
  padding: 0 2rem;
}

.examples-list {
  list-style-type: none;
}

.example {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.example__letter,
.example__sound {
  width: 100px;
}

.example__words {
  flex: 1;
}

.reading .example__words:not(:last-of-type) {
  margin-bottom: 15px;
}
